@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$navBg: #FAFAFA;
$navBorderRadius: 30px;
$linkFont: Montserrat;
$linkColor: black;

$btnBg: #3E4D6F;
$btnTextColor: white;
$btnBorderWidth: 0;
$btnBorderColor: black;
$btnBorderRadius: 20px;
