@import "init_state/vars.scss";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 5px auto;
    right: 0;
    left: 0;
    border-radius: $navBorderRadius;
    padding: 16px;
    background: $navBg;
    position: fixed;
    z-index: 50;

    .link {
        text-decoration: none;
        margin: 0 20px;
        font-family: $linkFont;
        color: $linkColor;
    }

    .menu__img {
        display: none;
    }

    button {
        border-radius: $btnBorderRadius;
        background: $btnBg;
        color: $btnTextColor;
        font-family: $linkFont;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        padding: 10px 20px;
        border: $btnBorderWidth solid $btnBorderColor;
        cursor: pointer;
        outline: none;
        font-size: 18px;

        p {
            margin: 0 10px;
        }
    }

    @media (max-width: 670px) {
        .link {
            display: none;
        }

        .menu__img {
            display: block;
            margin: 0 10px;
            font-size: 20px;
            color: $btnBg;
        }

        button {
            padding: 0 10px;
            border-radius: 50%;
            font-size: 25px;
            color: $btnBg;
            background-color: white;

            p{
                display: none;
                margin: 0 0;
            }

            &:hover {
                color:red;
            }

        }
        
    }
}

@media (max-width: 670px) {
    .nav {
        height: 50px;
    }

}


